* {
    margin: 0px;
    flex-shrink: 0;
}

:root {
    --primary-color: #D5BDAF;
    --secondary-color: #E3D5CA;
    --accent1-color: #EDEDE9;
    --accent2-color: #F5EBE0;
}

body {
    background-color: var(--accent1-color);
    font-family: 'Roboto', sans-serif;
}

header {
    display: grid;
    grid-template-columns:  1fr  1fr;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
}

nav ul{
    list-style: none;
    display: inline-block;
    display: flex;
    gap: 50px;
    margin-left: auto;
}
nav li a {
    text-decoration: none;
    color: black;

}
nav li a:hover {
    color: tomato;
    text-decoration: underline;
}
.logo {
    padding: 10px 30px 10px 200px;
}
.hero {
    text-align: center;
    position: relative;
}
.hero img {
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: var(--accent2-color);
}
.hero a {
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    background-color: var(--accent2-color);
    border: 0 solid aquamarine;
    border-radius: 5px;
    color: black;
    padding: 5px;
}
.article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: var(--accent2-color);
}
.article img {
    width: 70px;
    float: right;
    margin: 0 0 0 5px;
}

.section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 40px;
}


.section1 img {
    width: 200px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content p {
    flex: 1;
}

.content img {
    margin: 0 auto;
}
.section2 {
    text-align: center;
}

.section2a {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.section2 figure {
    flex: 1 1 30%;
    margin: 30px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    margin: 0;
  }

.section2 img {
    width: 200px;
    border-radius: 5px;
    padding: 0;
    margin: 0%;
}

footer {
    display: flex;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    margin-bottom: 10px;
}

.social-media-icons {
    position: absolute;
    left: 90%;
}
.social-media-icons a {
    text-decoration: none;
    margin-left: auto;
}
.social-media-icons img {
    width: 30px;
}

